{% load static %}
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Provisn Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Provisn Crypto blockchain analysis.">
        <meta name="keywords" content="Bitcoin, Cryptocurrency, Marketcap, Blockchain, Analysis, IOTA, Ethereum, Litecoin, Steem">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body class="authentication-bg authentication-bg-pattern d-flex align-items-center">
        <div class="account-pages w-100 mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center mb-4 login-logo">
                                    <a href="index.html">
                                        <span><img src="{% static 'img/logo.png' %}" alt="Provisn"></span>
                                    </a>
                                </div>
                                <form action="#" class="pt-2" method="post">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <!--<label for="emailaddress">Email address</label>
                                        <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">-->
                                        {{ form.username.label_tag }}
                                        {{ form.username|add_class:"form-control"|attr:'placeholder:Enter your username' }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <a href="{% url 'password_reset_recover' %}" class="text-muted float-right"><small>Forgot your password?</small></a>
                                        <!--<label for="password">Password</label>
                                        <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">-->
                                        {{ form.password.label_tag }}
                                        {{ form.password|add_class:"form-control"|attr:'placeholder:Enter your password' }}
                                    </div>
                                    <!--
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                        <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                    -->
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn blue btn-block" type="submit"> Log In </button>
                                    </div>
                                </form>
                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <p class="text-muted mb-0">Don't have an account? <a href="{% url 'frontpage' %}#download" class="text-dark ml-1"><b>Sign Up</b></a></p>
                                    </div> <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
        {% if form.non_field_errors %}
            <div style="position:absolute; right:15; bottom:0; background-color:#1d1d1d;" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header" style="background-color:#1d1d1d;">
                    <strong class="mr-auto">Login</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}
        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %}"></script>
        <!-- App js -->
        <script src="{% static 'js/app.min.js' %}"></script>
        <script>
            $(window).on('load', function() {
                $('.toast').toast({ 'autohide': false } );
                $('.toast').toast('show');
            });
        </script>
    </body>
</html>