{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="index-banner" class="">
    <div class="section no-pad-bot" style="background-image:url('https://via.placeholder.com/1871x467.png');background-size:cover;">
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col m12 s12">
                    <h2 class="header  teal-text text-lighten-2 center" data-aos="fade-up">Contact Us</h2>
                    <div class="center-align">
                        <b class="header center grey-text text-lighten-3" data-aos="fade-up">
                            Plutus is the experiential and comprehensive platform connecting you to curated crypto news, signal calls, and intensive market analysis. Paired with AI machine learning technologies, Plutus is specifically designed to revolutionize your opportunities for success in the emergent cryptocurrency landscape. At Plutus, we are stronger together. Join us.
                        </b>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="input-field col s12">
        <form method="POST" class="post-form" style="padding: 5px 5px 5px 5px;">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<button type="submit" class="btn waves-effect waves-light">Submit</button>-->
            <br/>
            <button class="btn waves-effect waves-light border-dark" type="submit" name="action">
                <b style="vertical-align:bottom;">Submit </b><i class="material-icons tiny">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock %}