{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="index-banner" class="">
      <div class="section no-pad-bot" id="banner-bg" style="background-image:url('https://via.placeholder.com/1871x467.png');">
          <div class="container">
            <div class="row">
              <br><br>
              <div class="col m8 s12 header-content">
                <h2 class="header header-content teal-text text-lighten-2 center" data-aos="fade-right">Best Crypto News & Events</h2>
                <div class="right-align">
                  <h5 class="header header-content center grey-text text-lighten-3" data-aos="fade-right">Stay up to Date with Everything in the Crypto World!</h5>
                </div>
              </div>
              <div class="col m4 s12 header-content">
                <!--<img src="{% static 'img/dashboard_screenshot.png' %}" class="responsive-img">-->
                  <div class="slider header-content" data-aos="fade-left">
                    <ul class="slides rounded">
                      <li>
                        <img src="{% static 'img/dashboard_screenshot.png' %}" class="responsive-img rounded header-content"> <!-- random image -->
                        <!--<div class="caption center-align">
                          <h3>Header</h3>
                          <h5 class="light grey-text text-lighten-3">Subheader</h5>
                        </div>-->
                      </li>

                      <li>
                        <img src="{% static 'img/hthearly315.png' %}" class="responsive-img rounded"> <!-- random image -->
                        <!--<div class="caption center-align">
                          <h3>Header</h3>
                          <h5 class="light grey-text text-lighten-3">Subheader</h5>
                        </div>-->
                      </li>

                      <li>
                        <img src="https://via.placeholder.com/404x250.png" class="responsive-img rounded"> <!-- random image -->
                        <!--<div class="caption center-align">
                          <h3>Header</h3>
                          <h5 class="light grey-text text-lighten-3">Subheader</h5>
                        </div>-->
                      </li>

                    </ul>
                  </div>
              </div>



              </div>
              <div class="s12 m12 center">
                <a href="{% url 'signup' %}" id="download-button" class="btn-large waves-effect waves-light home-button" data-aos="fade-up">Try For Free Now</a>
              </div>
              <br><br>
          </div>
      </div>
    </div>

  <div class="" >
    <a class="anchor" name="about"></a>
    <div class="container grey-text text-lighten-5">
      <div class="row">
        <div class="col s12 center" data-aos="fade-up">
          <h3>About</h3>
          <p class="">
            <b>
              Provisn connects you to all the premier cryptocurrency news, signal calls, market analysis, and much more. Our mission is to empower both modern day traders and cryptocurrency enthusiasts with optimal tools within a single, seamless, and powerful platform.

            </b>
          </p>
          <p class="">
            We know crypto can be confusing, we are here to make it easy for you to make money
          </p>
        </div>
        <div class="col s12 m4" data-aos="fade-right">
          <h6 class="center"><b>Recognize</b></h6>
          <p>
            We appreciate the inherent difficulty in forming actionable investment decisions in such a volatile market. Plutus has formed an experiential, comprehensive, and holistic platform allowing for you to make the optimal decisions across your investment timeline.
          </p>
        </div>
        <div class="col s12 m4" data-aos="fade-up">
          <h6 class="center"><b>Understand</b></h6>
          <p>
            To lessen the disconnect between a blockchain investment’s roadmap and technical components, Plutus directly connects you to the individuals behind the innovations. We foster open and live dialogue with project founders and thought leaders, bridging the communication gap between these advanced technologies and our Plutonian members.
          </p>
        </div>
        <div class="col s12 m4" data-aos="fade-left">
          <h6 class="center"><b>Revolutionize</b></h6>
          <p>
            The current standards for cryptocurrency platform expectations need to evolve in order to stay relevant and competitive. The Plutus team’s collective insight, experience, and skills are leveraged to do precisely that. We enable our Plutonian community to maneuver quickly, effectively, and confidently.
          </p>
        </div>
      </div>
    </div>

    <div class="section" style="background-color: rgb(47, 57, 72) !important;">
      <a class="anchor" name="team"></a>
      <div class="container grey-text text-lighten-5">
        <div class="row">
          <div class="col s12 center" data-aos="fade-up">
            <h3>Team</h3>
            <p>
              <b>
                Our proven expertise enables Plutus to flourish as a trusted and comprehensive platform for all members.
              </b>
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-right">
            <p>
              The Plutus core is comprised of a dedicated and experienced team of blockchain professionals whose collective knowledge, proven tools, and skills provide invaluable insights into the current and future landscape of cryptocurrency.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-up">
            <p>
              Our team combines 60+ years of collective technical and fundamental analysis and profitable past investment performance in the blockchain space. Through uniting our cumulative team knowledge, skill sets, and market vision, Plutus provides an extensive financial growth platform for all Plutonians. Our team utilizes the substantial tools and insights at our disposal, working tirelessly towards aggregating and delivering the optimal data sets and relevant market information to Plutonians as quickly as possible.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-left">
            <p>
              Our collective experience enables us to bridge the existing informational gap between blockchain technologies and the innovative industry players that are revolutionizing the world of digital assets. We make it easy to have all necessary information in one place to form your crypto strategy.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <a class="anchor" name="howitworks"></a>
      <div class="container">
        <div class="row grey-text text-lighten-5">
          <div class="col s12 center" data-aos="fade-up">
            <h3>How it works</h3>
            <p>
              <b>
                Plutus connects its members to the minds of those individuals with proven blockchain prowess across a variety of groundbreaking fields to further enable those engaging in the ever-expanding cryptocurrency space. We do this in four key ways.
              </b>
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-right">
            <h4>Plutus Channels</h4>
            <p>
              Plutus Channels incorporate a variety of inputs, including a combination of AI predictive analytics with intensive market trend research backed by both fundamental and technical analysis.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-up">
            <h4>Plutus Systems</h4>
            <p>
              We take an algorithmic approach to analyze past and present performance to better predict the future of companies and technologies that are shaping the markets.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-left">
            <h4>Plutus News</h4>
            <p>
              Plutus News serves to both enhance and streamline the multitude of resources at our disposal into one easily digestible platform with organized channels of communication, cutting through the noise and enabling members to make actionable decisions of pertinent information in real-time.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-right">
            <h4>Plutus Community</h4>
            <p>
              The Plutus Community ensures that the emphasis for wealth procurement is placed firmly back into the hands of the end users by engaging the extensive resources at our disposal into an open-format analytical discussion.
            </p>
          </div>
          <div class="col s12 m4" data-aos="fade-up">
            <img src="https://via.placeholder.com/404x200.png" style="width:404px;">
          </div>
          <div class="col s12 m4" data-aos="fade-left">
            <h4>Plutus Payment Model</h4>
            <p>
              Plutus is SAAS where a recurring payment is auto-debited from your crypto wallet dependant on your subscription length. This puts you in the driver’s seat to get the best information from the most trusted sources including our community in a singular, intuitive dashboard, for the exact amount of time requested with no strings attached.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="section" style="background-color: rgb(47, 57, 72) !important;padding-top:0;">
      <div class="container">
        <div class="row">
          <div class="col s12 m6" data-aos="fade-right">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">trending_up</i></h2>
              <h5 class="center grey-text text-lighten-5">Beams</h5>

              <p class="light center grey-text text-lighten-5">
                Our Beams are always up to date & keep you informed about what is to be expected of the Crypto Market.
              </p>
            </div>
          </div>

          <div class="col s12 m6" data-aos="fade-left">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">event</i></h2>
              <h5 class="center grey-text text-lighten-5">Events</h5>

              <p class="light center grey-text text-lighten-5">
                You want to take part in events regarding Blockchain & Crypto Currencies?
              </p>
              <p class="light center grey-text text-lighten-5">
                No Problem! Our event subsection provides information about upcoming events in our branche, including a calendar, so you can easily find out what to attend next.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 m6" data-aos="fade-right">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">subject</i></h2>
              <h5 class="center grey-text text-lighten-5">News</h5>

              <p class="light center grey-text text-lighten-5">
                It's hard to stay up to date with every news coming up every day. That's why we're collecting them for you and show them in an simple and easy timeline!
              </p>
            </div>
          </div>

          <div class="col s12 m6" data-aos="fade-left">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">card_membership</i></h2>
              <h5 class="center grey-text text-lighten-5">Member Perks</h5>

              <p class="light center grey-text text-lighten-5">
                We provide exclusive member perks for our subscribers, from discounts to free currencies or anything else we like and can provide.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row hide">
        <h2 class="center grey-text text-lighten-4">Check out our Social Media</h2>
        <div class="col s12 m4" data-aos="fade-right">
          <div class="icon-block info-block">
            <h5 class="center"><br/><img src="{% static 'img/social/icon_twitter.png' %}" style="width:64px; height:64px;" class="center"></h5>
          </div>
        </div>

        <div class="col s12 m4 " data-aos="fade-up">
          <div class="icon-block info-block">
            <a><h5 class="center"><br/><img src="{% static 'img/social/icon_instagram.png' %}" style="width:64px; height:64px;" class="center"></h5></a>
          </div>
        </div>

        <div class="col s12 m4 " data-aos="fade-left">
          <div class="icon-block info-block">
            <a href="https://www.instagram.com/plutus.live/"><h5 class="center"><br/><img src="{% static 'img/social/icon_facebook.png' %}" style="width:64px; height:64px;" class="center"></h5></a>
          </div>
        </div>
    </div>




    <div class="section" style="background-color: rgb(47, 57, 72) !important;">
      <div class="container">
        <div class="row">
          <div class="col s12 m6" data-aos="fade-right">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">adb</i></h2>
              <h5 class="center grey-text text-lighten-5">Artificial Intelligence</h5>

              <p class="light center grey-text text-lighten-5">
                We provide our own Artificial Intelligence Agents, which are providing price expectations for different currencies, multiple times a day!
              </p>
            </div>
          </div>

          <div class="col s12 m6" data-aos="fade-left">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">all_inclusive</i></h2>
              <h5 class="center grey-text text-lighten-5">Technical Analysis</h5>

              <p class="light center grey-text text-lighten-5">
                In our Technical Analysis section we provide you with information about the market as a whole and what to expect in the future.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 m6" data-aos="fade-right">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">view_list</i></h2>
              <h5 class="center grey-text text-lighten-5">Token Watchlist</h5>

              <p class="light center grey-text text-lighten-5">
                You always wanted to know what currencies may boom in the future? With our Token Watchlist section, we inform you about which currencies we think have the potential to be really big.
              </p>
            </div>
          </div>

          <div class="col s12 m6" data-aos="fade-left">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">chat</i></h2>
              <h5 class="center grey-text text-lighten-5">Plutus Roundtable</h5>

              <p class="light center grey-text text-lighten-5">
                Our Roundtable is a big chat for all Plutus Members & our staff team. Special questions? Token advice? Just Bored? Feel free to join our Roundtable
              </p>
            </div>
          </div>
          <a name="howitworks"></a>
        </div>
      </div>
      <p><br/></p>
    </div>
    -->





    <section style="background-color: rgb(47, 57, 72) !important;">
      <a class="anchor" name="pricing"></a>
      <div class="section">
        <div class="container">
          <div class="row">
            <h2 class="center grey-text text-lighten-4" data-aos="fade-up">Pricing</h2>
            <p class="center grey-text text-lighten-5" data-aos="fade-up">
              <b>
                Get started with the full package (14-day free trial period) with the most up-to-date news, current blockchain events, exclusive membership perks, live chat with blockchain pioneers, and both AI and Technical currency Analysis.
              </b>
            </p>
            <div class="col s12 m4" data-aos="fade-right">
              <div class="icon-block info-block">
                <h4 class="center grey-text text-lighten-3">1 Month</h4>

                <h5 class="center grey-text text-lighten-3">
                  0.1 ETH
                </h5>
              </div>
            </div>

            <div class="col s12 m4 " data-aos="fade-up">
              <div class="icon-block info-block">
                <h4 class="center grey-text text-lighten-3">3 Months</h4>

                <h5 class="center grey-text text-lighten-3">
                  0.25 ETH
                </h5>

              </div>
            </div>

            <div class="col s12 m4 " data-aos="fade-left">
              <div class="icon-block info-block">
                <h4 class="center grey-text text-lighten-3">1 Year</h4>

                <h5 class="center grey-text text-lighten-3">
                  0.75 ETH
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}