{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Hero Section -->
<section id="home" class="hero_section gradiant_2 padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 15px">
                <h1 class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="900ms">Your all-inclusive<br> crypto dashboard.</h1>
                <div class="col-md-6 col-sm-6 hero-image-for-mobile">
                    <img src="{% static 'img/hero.png' %}" alt="Provisn">
                </div>
                <p class="header-sub-black wow fadeInUp" data-wow-delay="100ms" data-wow-duration="900ms" style="margin-bottom: 30px;">
                    Provisn empowers the modern-day cryptocurrency enthusiast by providing the latest and most robust tools, indicators, and experiences within a single, streamlined platform.
                </p>
                <div class="button-area">
                    <a href="#download" class="button_1 wow fadeInLeft" data-wow-delay="1300ms" data-wow-duration="900ms" ">Try for free</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 hero-image ">
                <img src="{% static 'img/hero.png' %} " alt="Provisn "  class="hero ">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section -->



<!--- Feature Sections --->
<!-- Feature first card Section -->
<section id="view1 features" class="padding ">
    <div class="container bg-blue mt50" data-wow-delay="400ms " data-wow-duration="700ms ">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-md-8 feature_lists feature-image wow fadeInRight ">
                <img src="{% static 'img/f1.png' %} ">
            </div>

            <div class="col-md-4 ">
                <h1 class="black wow fadeInLeft view1-title " data-wow-delay="400ms " data-wow-duration="700ms ">Keep Your Finger always on the pulse.</h1>
                <h4 class="feature-h4 wow fadeInUp " data-wow-delay="100ms " data-wow-duration="900ms ">
                    The latest and most important cryptocurrency news, signals, indicators, analysis, community, and more; all at your fingertips.
                </h4>
            </div>
            <!-- Section Heading -->

        </div>
    </div>
</section>
<!-- Feature first card Section -->

<!-- Feature second card Section -->
<section id="view1" class="padding ">
    <div class="container bg-black ">
        <div class="row ">
            <!-- Section Heading -->
            <div class="col-md-4 ">
                <h1 style="padding-top: 47px; " class="wow fadeInLeft view1-title " data-wow-delay="400ms " data-wow-duration="700ms ">Unparalleled analysis.</h1>
                <h4 class="header-sub-black wow fadeInUp " data-wow-delay="100ms " data-wow-duration="900ms "> 
                    We connect you to proven cryptocurrency prowess across a variety of technical, fundamental, and social fields that are analyzed and contrasted against the market sentiment.
                </h4>
            </div>
            <!-- Section Heading -->
            <div class="col-md-8 feature_lists feature-image wow fadeInRight ">
                <img src="{% static 'img/f2.png' %} ">
            </div>
        </div>
    </div>
</section>
<!-- Feature second card Section -->

<!-- Feature items Section -->
<section id="features" class="feature_section padding ">
    <div class="container ">
        <div class="row">
            <!-- Section Heading -->
            <div class="margin15 " style="width: 58.333%; max-width: 58.3333%;">
                <h1 class="wow fadeInLeft mb50" data-wow-delay="100ms " data-wow-duration="400ms ">Ballistic <br>crypto missiles.</h1>
            </div>
            <!-- Section Heading -->
            <div class="feature_lists" style="padding-left:0; ">
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-target wow bounceIn hovericon" data-wow-delay="200ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Beams</h4>
                        <p>Robust, dependable, comprehensive, and profitable signal calls.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-newspaper wow bounceIn hovericon" data-wow-delay="300ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Breaking News</h4>
                        <p>Curated, on-demand news directly for vetted sources</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-linegraph wow bounceIn hovericon" data-wow-delay="400ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Technical Analysis</h4>
                        <p>Critical updates on key market trends and crypto by the best analysts out there.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-chat wow bounceIn hovericon" data-wow-delay="500ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Social Analysis</h4>
                        <p>The social barometer on all things crypto letting us know if there is virality or blood in the water.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-calendar wow bounceIn hovericon" data-wow-delay="600ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Calendar</h4>
                        <p>Never miss a beat with upcoming IEOs, events, or exclusive AMAs</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-genius wow bounceIn hovericon" data-wow-delay="700ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Advanced AI</h4>
                        <p>Predictive analytics from thousands of analysts and AI with hybrid intelligence on market sentiment and token indicators.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-magnifying-glass wow bounceIn hovericon" data-wow-delay="800ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Token spotlight</h4>
                        <p>Exploration of upcoming technologies, products, and events we’ve got our eyes on that you should too.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-global mb-10 wow bounceIn hovericon" data-wow-delay="900ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Live</h4>
                        <p>Direct interactions and AMA exclusive sessions with leaders in the blockchain community.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 float-left hoverblock">
                    <div class="feature_content align-center ">
                        <i class="icon-mobile wow bounceIn hovericon" data-wow-delay="1000ms " data-wow-duration="400ms "></i>
                        <h4 class="mb-10 hovertext">Provisn Mobile</h4>
                        <p>Real-time updates on all the above sent to your mobile device, including a private members-only telegram group.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Feature items Section -->
<!--- Feature Sections --->

<!--<section id="how " class="promo_section padding ">
    <div class="container ">
        <div class="section_heading mb-40 align-center ">
            <h2>How It Works</h2>
            <p>
                Provisn connects its members to proven blockchain prowess across a variety of groundbreaking fields to further enable those engaging in the ever-expanding cryptocurrency space. We do this in four key ways:
            </p>
        </div><!-- Section Heading

        <div class="row ">
            <div class="col-md-6 col-sm-6 xs-padding ">
                <div class="promo_content ">
                    <i class="icon-speedometer icon-Lclean "></i>
                    <h3>Channels</h3>
                    <p>
                        Provisn Channels incorporate a variety of inputs, including a combination of AI predictive analytics with intensive market trend research backed by both fundamental and technical analysis.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 xs-padding ">
                <div class="promo_content ">
                    <i class="icon-megaphone icon-Lclean "></i>
                    <h3>News</h3>
                    <p>
                        Provisn News serves to both enhance and streamline the resources at our disposal into one easily digestible platform. These organized channels of communication cut through the noise, and enable members to make actionable decisions with pertinent information.

                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 xs-padding ">
                <div class="promo_content ">
                    <i class="icon-linegraph icon-Lclean "></i>
                    <h3>Systems</h3>
                    <p>
                        We take an algorithmic approach to analyze past and present performance to better predict the future of companies and technologies that are shaping the markets.

                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 xs-padding ">
                <div class="promo_content ">
                    <i class="icon-chat icon-Lclean "></i>
                    <h3>Community</h3>
                    <p>
                        The Provisn Community ensures that the emphasis for wealth procurement is placed firmly back into the hands of the end users by engaging the extensive resources at our disposal into an open-format analytical discussion.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- Promo Section -->

<!-- Promo Section -->
<section id="how" class="about_section padding-bottom ">
    <div class="container">
        <!-- Section Heading -->

        <!-- Section Heading -->
        <div class="row">
           <div class="col-md-8 col-sm-12 xs-padding image-div fadeInLeft " style="display: flex; align-items: center;">
                <div class="funnelbox-head" id="particles-js" style="width: 100%;"></div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="xs-padding ">
                    <div class="about ">
                        <h3>Recognize</h3>
                        <div class="borderdiv1 border-blue "></div>
                        <p>
                            We understand the inherent difficulty in a volatile market. Provisn gives you the tools needed to make optimal decisions for your investments.
                        </p>
                    </div>
                    <div class="about ">
                        <h3>Understand</h3>
                        <div class="borderdiv1 border-blue "></div>
                        <p>
                            We know the cryptocurrency landscape can be confusing. Provisn connects trust-worthy news sources and the individuals behind blockchain innovations, directly to you.
                        </p>
                    </div>
                    <div class="about latest ">
                        <h3>Revolutionize</h3>
                        <div class="borderdiv1 border-blue "></div>
                        <p>
                            Our platform will continue to evolve as we leverage the latest insight, skills, and experience in order to deliver you the most relevant, valuable, and competitive product available.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo Section -->


<!-- Pricing Section -->
<section id="pricing" class="pricing_section padding ">
    <div class="container ">
        <!-- Section Heading -->
        <div class="section_heading mb-40 ">
            <h1 class="black ">Pricing.</h1>
        </div>
        <!-- Section Heading -->

        <div class="row pricing_list " style="margin-bottom: 54px; ">
            {% for pricing in pricings %}
                <div class="col-md-4 col-sm-6 xs-padding wow bounceInUp " data-wow-delay="0ms " data-wow-duration="800ms ">
                    <div class="pricing_table grey1 align-center ">
                        <a href="#register-form">
                            <div class="pricing_head ">
                                <h4>{{ pricing.show_name }}</h4>
                                <div class="price-div">
                                    <h3>$ {{ pricing.cost }}<br>
                                        <span class="color-green save-money">{% if pricing.savings %}saves ${{ pricing.savings }}{% else %}{% endif %}</span>
                                    </h3>
                                </div>
                                <!-- <h4 class="saved-price color-success">{% if pricing.savings %}saves ${{ pricing.savings }}{% else %}{% endif %}</h4> -->
                                <div class="price_coin">
                                    <div class="white-board">
                                        <img src="{% static 'img/Btc-sans.png' %}" width="15">
                                        <span class="price_bitcoin" style="padding-right: 20px">{{ pricing.cost_bitcoin }}</span>
                                        <img src="{% static 'img/Ethereum_logo.png' %}" width="15">
                                        <span class="price_bitcoin">{{ pricing.cost_ethereum }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <ul></ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- Pricing Section -->

<!-- Download Section -->
<section id="download" class="download_section gradiant_2 padding ">
    <div class="container padding80 ">
        <div class="row ">
            <div class="col-sm-12 col-md-6 xs-padding ">
                <div class="download_content ">
                    <h2 class="white ">Join provisn today and get a 14-day free trial.</h2>
                    <p class="no-cc"> *No payment information required</a></p>
                </div>
                <div class="register-form" id="register-form">
                    <form method='post' action="# " class="subscribe_form2 ">
                        {% csrf_token %}
                        {{ UCform.username }}
                        {{ UCform.email }}
                        {{ UCform.password1 }}
                        {{ UCform.password2 }}
                        {{ UCform.signup_token }}
                        {% for field in UCform.visible_fields %}
                            {{ field.errors }}
                            {{ field_ }}
                        {% endfor %}
                        {% for error in UCform.errors %}
                            {{ error }}
                        {% endfor %}
                        <div id="subscribe-result">
                            <p class="subscription-success "></p>
                            <p class="subscription-error "></p>
                        </div>
                        <div class="UCform-button-area">
                            {% if user.is_superuser or user.is_staff or SIGNUP_ENABLED %}
                                <button type="submit" name="UCform_Button" class="button_1 submit register-btn wow pulse " data-wow-delay="900ms" data-wow-duration="800ms">Start free trial</button>
                            {% endif %}
                        </div>
                        <p class="terms-text"> By hitting sign up, you agree to the <a href="/terms" class="terms-a"> terms of service</a></p>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xs-padding wow fadeInLeft hero-image ">
                <img src="{% static 'img/hero.png' %} " alt="Mac " style="height: 475px;">
            </div>
        </div>
        <div class="row pricing_list " style="margin-top: 50px; ">
            <div class="col-md-3 xs-padding ">
                <img src="{% static 'img/logo.png' %} " alt="Provisn " style="width: 100px; ">
            </div>
            <div class="col-md-6 xs-padding " >
                <p class="footer-text "></p>
            </div>
            <div class="col-md-3 xs-padding li-footer ">
                <ul>
                    <li><a href="{% url 'frontpage_terms' %}" target="_blank"> Terms of service</a></li>
                    <li><a href="#"  data-toggle="modal" data-target=".bs-contact-modal-lg">Contact</a></li>
                    <li><a href="{% url 'frontpage_privacy' %}" target="_blank"> Privacy policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-socials " style="margin-top: 30px; ">
            <div class="col-lg-12 md-12 sm-12 ">
                Follow our channels
                <a href="https://t.me/joinchat/HaeSp1VPMcRho7xIHAow0Q ">
                    <img src="{% static 'img/telegram.png' %} " alt="Provisn " style="width: 30px; margin-right: 10px; margin-left: 30px ">
                </a>
                <a href="https://www.facebook.com/provisnlive/ ">
                    <img src="{% static 'img/fb.png' %} " alt="Provisn " style="width: 33px; margin-right: 10px ">
                </a>
                <a href="https://www.instagram.com/provisn/ ">
                    <img src="{% static 'img/insta.png' %} " alt="Provisn " style="width: 30px; margin-right: 10px ">
                </a>
                <a href="https://twitter.com/pro_visn ">
                    <img src="{% static 'img/twitter.png' %} " alt="Provisn " style="width: 30px; ">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Download Section -->

{% endblock %}