{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="index-banner" class="">
    <div class="section no-pad-bot" style="background-image:url('{% static "img/frontpage_header.png" %}');background-size:cover;">
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col m12 s12">
                    <h2 class="header  teal-text text-lighten-2 center" data-aos="fade-up">Our Team</h2>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
<br/><br/>
<div class="">
    <div class="container" data-aos="fade-right">
        <div class="row left-align">
            <div class="col s12 m8 grey-text text-lighten-4">
                <p class="flow-text">
                    The Plutus core is comprised of a dedicated and experienced team of blockchain professionals whose collective knowledge, proven tools, and skills provide invaluable insights into the current and future landscape of cryptocurrency. Our collective experience enables us to bridge the existing informational gap between blockchain technologies and the innovative industry players that are revolutionizing the world of digital assets.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="" style="background-color: rgb(47, 57, 72) !important;">
    <div class="container" data-aos="fade-left">
        <div class="row right-align">
            <div class="col s12 m4"></div>
            <div class="col s12 m8 grey-text text-lighten-4">
                <p class="flow-text">
                    Our team combines 60+ years of collective technical and fundamental analysis and profitable past investment performance in the blockchain space. Through uniting our cumulative team knowledge, skill sets, and market vision, Plutus provides an extensive financial growth platform for all Plutonians. Our team utilizes the substantial tools and insights at our disposal, working tirelessly towards aggregating and delivering the optimal data sets and relevant market information to Plutonians as quickly as possible.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}