{% extends 'cal/base.html' %}

{% block title %}
Event Calendar
{% endblock %}

{% block content %}
<div class="clearfix2">
	<a class="btn btn-primary left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-primary right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
    {% if user.is_superuser or user.is_staff %}
		<a class="btn btn-add waves-effect waves-light width-md" href="{% url 'cal:event_new' %}" style="margin-left: 25px; font-size: 14px; border: 0;"> Add new event</a>
	{% endif %}
</div>




        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">

                        <h3 class="page-title">{{ pagetitle }}</h3>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">




                        {{ calendar }}









			</div>
		</div>


{% endblock %}