{% extends 'user_area/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box mb30">
                        <h3 class="page-title">
                            {{ pagetitle }}
                            {% if user.is_superuser or user.is_staff %}
                                <a href="{% url 'NewTA' %}"><i class="mdi mdi-pencil-plus-outline"></i></a>
                                <a href="{% url 'DraftsTA' %}" class="btn btn-primary"><b>Drafts </b></a>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                    <div class="grid-sizer"></div>
                    {% for item in items %}

                        <div class="col-md-4 col-lg-3 grid-item borderR">
                            <input type="hidden" class="ta-content" value="{{ ta.text }}">
                        {% if item.is_ta_scraped %}
                            <a href="{{ item.url }}" target="_blank">
                        {% else %}
                            <!-- Display Modal with content -->
                            <a href="#" style="width: 100%;" data-toggle="modal" data-target=".bs-ta-modal-lg">
                        {% endif %} 
                            <div class="ta-diagram">
                                <img src="{{ item.image_url }}" style="height:200px;" class="w-100">
                            </div>
                            <div class="card-news {% if item.news_image %}card-news-radius-img{%endif%} content-list-block">
                                <h3 class="float-right">
                                    {% if item.coin.coin_icon %}
                                        <img class="cryptocurrency-icons-content-list-page" src="{{ item.coin.coin_icon.url }}"/>
                                    {% endif %}
                                    {{ item.coin.short_name }}
                                </h3>
                                <h1 class="truncate-news line-clamp title">{% if item.title %} {{ item.title }} {% endif %}</h1>
                                <div class="link-preview-wrapper d-none">
                                    {{ item.text|safe|truncatechars:350 }}
                                </div>
                                <p class="published">
                                    <i class="mdi mdi-calendar-month-outline"></i>
                                    {{ item.published_date|naturaltime }}

                                       <!-- <span class="tag-field">
                                            {% for tag in item.tags.all %}

                                                <a href="{% url 'search' %}?q={{ tag }}" class="badge tag">
                                                    {{ tag }}
                                                </a>
                                            {% endfor %}
                                        </span> -->
                                </p>
                                {% if item.coin.coinmarketcap_url %}
                                    <a href="{{ item.coin.coinmarketcap_url }}">
                                        <button type="button" class="btn btn-outline-primary waves-effect waves-light width-md">View on Coinmarketcap</button>
                                    </a>
                                {% endif %}
                                    <!-- Simple card -->

                            </div>
                            {% if item.is_ta_scraped %}
                                </a>
                            {% endif %}
                        </div><!-- end col -->
                    {% endfor %}


                    {% if items.paginator.num_pages > 2 %}
                        <div class="col-12 margin-auto grid-item" style="height:100px;"><!-- Don't ask why height:100px; without this tag at all, the read more stopped working -->
                            <ul class="pagination">
                                <li class="page-item">
                                    {% if items.has_previous %}
                                        <a class="page-link" href="?page=1" aria-label="Previous">
                                            <span aria-hidden="true">‹‹</span>
                                            <span class="sr-only">First</span>
                                        </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">Prev</span>
                                        <span class="sr-only">Prev</span>
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">{{ items.number }} of {{ items.paginator.num_pages }}</a></li>

                                {% if items.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">Next</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                                            <span aria-hidden="true">››</span>
                                            <span class="sr-only">Last</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
            </div>
        </div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<div class="modal fade bs-ta-modal-lg" tabindex="-1" role="dialog" aria-labelledby="TAFormModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:90%; width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <div class="" style="display: flex;"> -->
                    <h4 class="modal-title white" id="TAFormModalLabel"></h4>
                    <span style="float: right; margin-left: auto;"><i class="fa fa-clock" style="margin-right: 10px;"></i>2 hours ago</span>
                <!-- </div> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!-- CONTACT -->
                <section id="ta" class="ta_section padding">
                    <div>
                        <div class="chart-coin w-100">
                            <img class="diagram-frame w-100">
                        </div>
                        <div class="description">
                            <span class="description-content"></span>
                        </div>
                    </div>
                </section><!-- CONTACT -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        $('.bs-ta-modal-lg').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var title = button.find(".title").html();
            var content = $(".ta-content").val();
            console.log(button.find("img").attr("src"));
            var modal = $(this)
            modal.find('#TAFormModalLabel').text(title);
            // modal.find(".chart-coin").append(button.find("#diagram_embed").val());
            modal.find(".diagram-frame").attr("src", button.find("img").attr("src"))
            modal.find(".description-content").html(content);
        });
    });
</script>
{% endblock %}