{% extends 'user_area/base.html' %}
{% load static %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div style="text-align: center; vertical-align: middle;margin-top:4rem;">
            <img src="{% static 'images/payment_ok.svg' %}" width="250" height="250"/>
            <p><br>
            <h3>Payment Successful!</h3>


            </p>
           </div>
        </div>
    </div>
</div>
{% endblock %}